<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Giới thiệu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/css/user/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/css/user/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
         <!-- Main Header Area Start Here -->
         <header>
             <%- include ('../navigationBar/header')%>
         </header>
             <!-- Header Bottom End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index-4.html.html">Trang chủ</a></li>
                        <li class="active"><a href="about.html">Giới thiệu</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- About Us Start Here -->
        <div class="about-us pt-100 pt-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="sidebar-img mb-all-30">
                            <img src="img/blog/3.jpg" alt="single-blog-img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-desc">    
                            <h3 class="mb-10">Câu truyện của THE BARBER</h3>
                            <p class="mb-20">THE BARBER đầu tiên được khai trương ở TP.Hồ Chí Minh vào tháng 5/2019 và mất một năm để tìm hướng đi như hiện nay.</p>
                            <p class="mb-20">Những anh em sáng lập THE BARBER tin tưởng rằng người thợ Việt Nam 
                                            rất tận tâm, khéo léo trong các nhóm ngành nghề cắt tóc, làm móng, 
                                            massage… Nếu đưa ra một mô hình mới ứng dụng công nghệ và quy trình hợp lý, 30Shine có thể giúp thế mạnh này được chắp cánh, 
                                            mang lại dịch vụ tuyệt vời cho khách hàng, tạo dựng môi trường tốt hơn cho anh em thợ.</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px;">
                    <div class="col-lg-6">
                        <div class="about-desc">    
                            <h3 class="mb-10">Khát vọng và sứ mệnh của THE BARBER</h3>
                            <p class="mb-20" style="font-weight: bold;">“THE BARBER tin tưởng & nỗ lực mỗi ngày để kết nối bàn tay tài hoa của người thợ Việt cùng quy trình khoa học 30 phút nhằm đem đến cho tất cả mọi người kiểu tóc ấn tượng cùng làn da khỏe mạnh, tinh thần thư giãn để bứt phá trong sự nghiệp.”</p>
                            <p class="mb-20">Năm 2030, đạt quy mô 100 salon tại Việt Nam và vươn ra toàn cầu. Tham gia các ngành dịch vụ sử dụng nhiều đến đôi tay tuyệt vời của người thợ Việt Nam.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sidebar-img mb-all-30">
                            <img src="img/blog/4.jpg" alt="single-blog-img">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- About Us End Here -->
        <!-- About Us Team Start Here -->
        <div class="about-team pt-100 pt-sm-60">
            <div class="container">
               <h3 class="mb-30 about-title">Thành viên tiêu biểu</h3>
                <div class="row text-center">
                    <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-all-30">
                            <div class="team-img sidebar-img">
                                <img src="img/team/2.jpg" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Phạm Đức Duy</h4>
                                <p>Đạt giải cây kéo vàng toàn quốc 2015</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-all-30">
                            <div class="team-img sidebar-img">
                                <img src="img/team/1.jpg" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Mai Trí Cường</h4>
                                <p>Đoạt giải cây kéo vàng toàn quốc 2019 và là người sáng lập.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-xxs-30">
                            <div class="team-img sidebar-img">
                                <img src="img/team/3.jpg" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Nguyễn Văn Tèo</h4>
                                <p>Có hơn 15 năm trong nghề</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team">
                            <div class="team-img sidebar-img">
                                <img src="img/team/4.jpg" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Nguyễn Thị Bích Nguyên</h4>
                                <p>Đạt giải cây kéo vàng Đất Việt 2020</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- About Us Team End Here -->
        <!-- About Us Skills Start Here -->
        <div class="about-skill ptb-100 ptb-sm-60">
            <div class="container">
                <h3 class="about-title mb-20">Quyền lợi khi đến với chúng tôi</h3> </br>
                <img src="img/blog/5.PNG" alt="ảnh quảng cáo">
            </div>
            <!-- Container End -->
        </div>
        <!-- About Us Skills End Here -->
        </div>
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('../navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
</body>

</html>